@use "../variables" as *;
@use "../mixins" as *;

.button {
  @include button-base;

  &.accent {
    background-color: $color-accent;
    color: $color-accent-foreground;
    &:hover {
      background-color: darken($color-accent, 10%);
    }
  }

  &.primary {
    background-color: $color-primary;
    color: $color-primary-foreground;
    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &.green {
    background-color: $color-green;
    color: $color-green-foreground;
    &:hover {
      background-color: darken($color-green, 10%);
    }
  }

  &.secondary {
    background-color: $color-secondary;
    color: $color-secondary-foreground;
    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  &.rounded-30 {
    border-radius: $border-radius-30;
  }
}
