@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");

@layer base {
  :root {
    --background: #fef3f3;
    --foreground: #000000;
    --primary: #4d4495;
    --primary-foreground: #ffffff;
    --secondary: #283284;
    --secondary-foreground: #ffffff;
    --accent: #ea5b27;
    --accent-foreground: #ffffff;
    --destructive: #e84711;
    --destructive-foreground: #ffffff;
    --footer: #12101e;
    --footer-foreground: #ffffff;
    --green: #b5ce3e;
    --green-foreground: #ffffff;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-footer: var(--footer);
  --color-footer-foreground: var(--footer-foreground);
  --color-green: var(--green);
  --color-green-foreground: var(--green-foreground);
}

/* Кастомные классы для шрифтов */
@layer utilities {
  .font-pelowlava {
    font-family: "Pelowlava", cursive;
  }
}
